<h2>User List</h2>
<hr>
<table class="table">
  <thead>
    <tr>
      <th>S.No.</th>
      <th>Name</th>
      <th>Contact</th>
      <th>Address</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of users;let i=index">
      <td>{{i+1}}</td>
      <td>{{item.name}}</td>
      <td>{{item.contact}}</td>
      <td>{{item.address}}</td>
<td>
  <a [routerLink]="['/edit', item._id]" class="btn btn-success">Edit</a> &nbsp;
  <a href="javascript:void(0);" class="btn btn-danger" (click)="deleteUser(item._id)">Delete</a>
</td>
    </tr>
  </tbody>
</table>

